node_modules
temp
dist
.sass-cache
.tmp
bower_components
.vagrant
packer_cache

# ignore pngs
*.png

# ignore vagrant boxes & VMs
*.ovf
*.vdi
*.vmdk
*.box

# ignore editor swapfiles
*.swp

# ignore R history stuff
.Rapp.history

# ignora dados originais
proc/dados

# OS X stuff
.DS_Store
